<h1>My Schedule</h1>

    <% fri = @timeslots.select { |t| t.start_time.day == 10 } %>
    <% sat = @timeslots.select { |t| t.start_time.day == 11 } %>
    <% sun = @timeslots.select { |t| t.start_time.day == 12 } %>
    <% days = {["Friday", "June 10th"] => fri, ["Saturday", "June 11th"] => sat, ["Sunday", "June 11th"] => sun} %>

<ul class="user-days">
    <% days.each do |date, day| %>
    <li>
    <span class="date"><h1><%= date.first %></h1><%= date.last %></span>
    <% day.sort_by{|d| d.start_time}.reverse.each do |timeslot| %>
    
    <h3><%= link_to timeslot.act.name, act_path(timeslot.act) %></h3>
    
      <%= timeslot.start_time.strftime("%l:%M %p") %> - <%= timeslot.end_time.strftime("%l:%M %p")  %>, <%= timeslot.venue.name %>

        <%= button_to '', booking_path(current_user.bookings.find_by_timeslot_id(timeslot.id)), method: :delete, class: "unschedule", title: "Remove from My Schedule" %>
     
      <% end %>
      <br><br>
      </li>
      
    <% end %>
    </ul>


