<h1>My Schedule</h1>

<% days_list = [] %>

<% @date_range.each do |date| %>

<% collection = [date, @bookings.select { |b| b.timeslot.start_time.day == date.day }] %>
<% days_list << collection %>

<% end %>


<ul class="user-days">
    <% days_list.each do |date, bookings| %>
    <li>
    <span class="date"><h1><%= date.strftime("%A") %></h1><%= date.strftime("%B #{date.day.ordinalize}") %></span>
    <% bookings.sort_by{|b| b.timeslot.start_time}.reverse.each do |booking| %>
    
    <h3><%= link_to booking.timeslot.act.name, event_act_path(@event, booking.timeslot.act) %></h3>
    
      <%= booking.timeslot.start_time.strftime("%l:%M %p") %> - <%= booking.timeslot.end_time.strftime("%l:%M %p")  %>, <%= booking.timeslot.venue.name %>

      <%= button_to '', booking_path(current_user.bookings.find_by_timeslot_id(booking.timeslot.id)), method: :delete, class: "unschedule", title: "Remove from My Schedule" %>
     
      <% end %>
      <br><br>
      </li>
      
    <% end %>
    </ul>


