<% if @user == current_user %>
<%= link_to 'Edit My Profile', edit_user_registration_path(@user, event_id: @event.id) %><br>

<%= link_to 'My Schedule', users_path(event_id: @event.id) %>
<% end %>


<h2><%= @user.name %></h2>
<% if @user.role %>
Role: <%= @user.role %><br><br>
<% end %>

<%= image_tag(@user.user_image.medium.url, class: "user-image-medium") %>

