<div class="nav-buttons">

  <%= link_to 'My Schedule', users_path(event_id: @event.id) %>
  <span class="mobile-lineup">
  <%= link_to 'Full Lineup', event_day_path(@event, 10) %>
  </span>
  <span class="big-lineup">
  <%= link_to 'Full Lineup', event_path(@event) %>
  </span>
  </div>
<section class="home-box">
  
<div class="box box-1"><%= link_to 'Acts', event_acts_path(@event) %></div>
<div class="box box-2"><%= link_to 'Stages', event_venues_path(@event) %></div>
</section>
<section class="home-box">
<div class="box box-3"><%= link_to 'News', '/news' %></div>
<div class="box box-4"><%= link_to 'Info', events_info_path(id: @event.id) %></div>


</section>
