<style>
  body {
    font-family: Helvetica;
    padding: 30px;
  }
  a {
    color: navy;
  }
  label {
    margin: 5px 0;
    display: inline-block;
  }
</style>
<h1>Create New Event</h1>

<%= form_for(@event) do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :location %><br>
<%= f.text_field :location %><br>

<%= f.label :description, 'Description' %><br>
<%= f.text_area :description %><br>

<%= f.label :act_alias, "Default term for 'acts'" %><br>
<%= f.text_field :act_alias %><br>

<%= f.label :venue_alias, "Default term for 'venues'" %><br>
<%= f.text_field :venue_alias %><br>

<%= f.label :start_date %><br>
<%= f.date_select :start_date %><br>

<%= f.label :end_date %><br>
<%= f.date_select :end_date %><br>

<%= f.label :theme %><br>
<%= f.radio_button :theme, "default" %> Default<br>
<%= f.radio_button :theme, "conference" %> Conference<br>
<%= f.radio_button :theme, "fields" %> Fields<br><br>

<%= f.submit 'Save' %>

<% end %>