<h1>Create New Event</h1>

<%= form_for(@event) do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :location %><br>
<%= f.text_field :location %><br>

<%= f.label :description, 'Description' %><br>
<%= f.text_area :description %><br>

<%= f.label :start_date %><br>
<%= f.date_select :start_date %><br>

<%= f.label :end_date %><br>
<%= f.date_select :end_date %><br>

<%= f.label :theme %><br>
<%= f.radio_button :theme, "default" %> Default<br>
<%= f.radio_button :theme, "conference" %> Conference<br>
<%= f.radio_button :theme, "fields" %> Fields<br><br>

<%= f.submit 'Save' %>

<% end %>