<h2><%= @venue.name %></h2>

<% if @venue.venue_image %>
<%= image_tag(@venue.venue_image, class: "act-image") %><br>
<% end %>
<%= @venue.description %><br><br>
<h4>Location:</h4>
<%= @venue.location %><br><br>
<h4>Times:</h4>
<% @timeslots.each do |timeslot| %>
  <%= timeslot.start_time.strftime("%A %l:%M %p") %> - <%= timeslot.end_time.strftime("%l:%M %p")  %>, <%= timeslot.act.name %> 
  <% if can? :update, Timeslot %><%= link_to 'Edit', edit_timeslot_path(timeslot) %> - 
  <% end %>
  <% if can? :delete, Timeslot %>
  <%= link_to 'Delete', timeslot_path(timeslot), method: :delete, data: {confirm: 'Are you sure you want to delete this time slot?'} %><br>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', :back %>
<br><br>

<% if can? :update, Venue %>
<%= link_to "Edit Stage Profile", edit_venue_path(@venue) %> -
<% end %> 
<% if can? :create, Timeslot %>
<%= link_to "Add Performance Times", new_timeslot_path %> 
<% end %>