<%= form_for([ @event, @timeslot ]) do |f| %>
<% if @timeslot.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this performance slot from being saved:</h2>

    <ul>
    <% @timeslot.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :act_id, 'Act' %>
<%= f.select :act_id, @event.acts.all.order(:name).collect { |a| [ a.name, a.id ] }, :selected => (@act.id if @act) || @timeslot.act.id %><br>
<%= f.label :venue_id, 'Stage' %>
<%= f.select :venue_id, @event.venues.all.collect { |v| [ v.name, v.id ] }, :selected => (@venue.id if @venue) || @timeslot.venue.id  %><br>

<%= f.label :start_time %><br>
<%= f.datetime_select :start_time, :minute_step => 5, default: { month: @event.start_date.month, day: @event.start_date.day } %><br>

<%= f.label :end_time %><br>
<%= f.datetime_select :end_time, :minute_step => 5, default: { month: @event.start_date.month, day: @event.start_date.day } %><br>

<%= f.label :capacity %><br>
<%= f.text_field :capacity %><br>

<%= f.submit 'Save' %>

<% end %>