<%= form_for([@event, @act]) do |f| %>
    <% if @act.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>

        <ul>
        <% @act.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :event_id, 'Event' %>
    <%= f.select :event_id, Event.all.collect { |e| [ e.name, e.id ] } %><br>


    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  
    <%= f.label :act_image, 'Profile Image URL' %><br>
    <%= f.text_field :act_image %><br>

    <%= f.label :headline_image, 'Headline Image URL' %><br>
    <%= f.text_field :headline_image %><br>

    <%= f.label :description, 'Bio' %><br>
    <%= f.text_area :description, rows: 10, cols: 40 %><br>

    <%= f.label 'Keywords' %><br>
    <% @keywords.each do |keyword| %>
    <%= check_box_tag "act[keyword_ids][]", keyword.id, @act.keywords.include?(keyword) %>
    <%= keyword.name %>
    <% end %><br>

    <%= f.submit 'Save' %>

<% end %>