<h1>Acts A-Z</h1>
<% if can? :create, Act %>
<%= link_to 'Add Act', new_act_path %><br><br>
<% end %>

Filter by tag:<br> 

<%= form_tag({controller: "keywords", action: "filter"}, method: "get") do %>

<div class="filter">
<%= select_tag(:keyword_select, options_for_select(Keyword.all.collect { |a| [ a.name, a.id ] })) %>
</div>
<%= submit_tag(value = 'Go', class: "filter-button") %>
<% end %>


<br>


<% @acts.each do |act| %>
<%= link_to act.name, act_path(act) %>
<% if can? :update, Act %>
/ <%= link_to 'Edit', edit_act_path(act) %>
<% end %>
/ <% if can? :delete, Act %>
<%= link_to 'Delete', act_path(act), method: :delete, data: {confirm: 'Are you sure you want to delete this act and all of its time slots?'} %><% end %>
<br><br>

<% end %>
<br>
<%= link_to 'Back', :back %>
